*.pth
*.npy
*.mp4
outputs/
work_dirs/
*__pycache__*
.vscode/
.envrc
.bak/
datasets/
results/

preproc/checkpoints
preproc/checkpoints/

# Large directories and files
data/
output/
refined_output/
*.png
*.jpg
*.jpeg
